body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #ffffff;
  color: #000000;
}
h1 {
  font-size: 24px;
}
ul {
  padding-left: 20px;
}
li {
  margin-bottom: 10px;
}
input {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
}
button {
  padding: 5px 10px;
  cursor: pointer;
}
a {
  display: inline-block;
  margin-top: 10px;
  color: rgb(172, 1, 1);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}